[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/k1cn
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/k1cn
	label-Verified = -1..+1 group user/k1cn
	push = group user/k1cn
	read = group user/k1cn
	rebase = group user/k1cn
	removeReviewer = group user/k1cn
	submit = group user/k1cn
[access "refs/heads/*"]
	create = group user/k1cn
	push = +force group user/k1cn
	pushMerge = group user/k1cn
	read = group user/k1cn
[access "refs/tags/*"]
	push = group user/k1cn
	push = +force group user/k1cn
